/* Border box declaration 
https://www.paulirish.com/2012/box-sizing-border-box-ftw/ */
html {
  box-sizing: border-box;
}
/* inherit border-box on all elements in the universe and before and after
 */
*, 
*:before, 
*:after {
  box-sizing: inherit;
}

/*Soft Reset*/
html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,font,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td {border:0; font-size:100%; margin:0; padding:0;}

@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:wght@400;700&family=Montserrat:wght@300;400;600;800&display=swap');


body{
  width:100vw;
  height: 100vh;
  font-family: 'Montserrat', sans-serif;
}

.page{
  font-size: 12px;
  width:100%;
  height: 100%;
  padding:3em;
  color:#343434;
  background-color: #cccccc;
  display:grid;
  grid-gap: 3em;
  grid-template-columns: 1fr 2.5fr;
  grid-template-rows: 30vh 55vh;
  grid-template-areas: 
  "logo logger" 
  "form results";
}

.logo {grid-area: logo;}
.form {grid-area: form;}
.logger {grid-area: logger;}
.results {grid-area: results;}


.logo,.form,.form .title ,.logger,.results,.logger .title, .results .title, .results .live .item, .form .inputs button, .form .inputs .field input, .form .inputs .field select{
  border-radius: 7.5px;
}

.logo {
  color: #ececec;
  background-color: #343434;
  font-size: 2.5em;
  font-weight: 600;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  letter-spacing: .5em;
  text-transform: uppercase;
}




.logo span{
  display: flex;
  flex-direction: column;
  grid-area: logo;
}


.form {
  background-color: #ececec;
}

.form .inputs {
  padding:1em 2em;
  display: flex;
  flex-direction: column;
  font-size: 18px;
  color:#343434;

}

.form .inputs .field {
  display: flex;
  align-items: center;
}

.form .inputs .field, .form .inputs button {
  margin:.5em;
}

.form .inputs .field input, .form .inputs .field select {
  width:65%;
  height: 2.5em;
  font-weight: 800;
  font-family: 'Montserrat', sans-serif;
letter-spacing: 2px;
border:none;
color:#343434;

background-color: #cccccc;
padding-left: 1em;
border-radius: 2.5px;
}

.form .inputs .field label {
  width:35%;
  text-align: right;
  margin-right: 1.5em;
  text-transform: lowercase;


}

.form .inputs button {
  height: 2em;
  text-transform: uppercase;
  font-size: 1em;
  font-weight: 800;
  font-family: 'Montserrat', sans-serif;
letter-spacing: 2px;
background-color: #84fab7;
border:none;
border-radius: 2.5px;
color:#343434;


}

.form .inputs button.disabled{
  
background-color: #ccffe288;
}

.form .inputs button:not(.disabled):hover{
  
  background-color: #4ff296;
  }


.logger {
  background-color: #ececec;
  display: flex;
  flex-direction:column;
  padding-bottom: 1em;
}

.form .title, .logger .title, .results .title {
  color: #ececec;
  background-color: #343434;
  padding: 1em 1em;
  font-size: 2em;
  
  font-weight: 400;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  letter-spacing: .75em;
  text-transform: lowercase;
}

.logger .logs{
  padding: 1em;
  overflow-y: scroll;
}

.logger .logs p{
  font-family: 'IBM Plex Mono', monospace;
  margin:.5em;
  font-weight: 800;
}

.results {
  background-color: #ececec;

}

.results .title .right{
  font-size: .75em;
  
  font-weight: 400;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  letter-spacing: .2em;
  text-transform: lowercase;
  height: 100%;
}

.results .title .right span{
  margin: 0 .75em;
  
  font-weight: 800;
}

.results .live {
  padding:1em;
  display:flex;
  flex-wrap: wrap;
  overflow-y: scroll;
  height: 40vh;
  font-size: 13px;

}

.results .live .item {
  width:30%;
  margin:1em;
  background-color: #cccccc;
  padding:1.25em;
  color:#343434;
  margin-bottom: 5px;
}

.results .live .item:hover {
  cursor: pointer;
}

.results .live .item > div{
  margin-bottom: 2.5px;
}

.results .live .item .name {
  font-size: 1.5em;
  font-weight: 800;
  margin-bottom: 5px;
}

.results .live .item .phone, .results .live .item .website {
  font-weight: 600;
}

.results .live .item .adress {
  font-size: .9em;
}



/* 
  ##Device = Desktops
  ##Screen = 1281px to higher resolution desktops
*/

@media (min-width: 1281px) {
  

  
}

/* 
  ##Device = Laptops, Desktops
  ##Screen = B/w 1025px to 1280px
*/

@media (min-width: 1025px) and (max-width: 1280px) {
  

  
}

/* 
  ##Device = Tablets, Ipads (portrait)
  ##Screen = B/w 768px to 1024px
*/

@media (min-width: 768px) and (max-width: 1024px) {
  

  
}

/* 
  ##Device = Tablets, Ipads (landscape)
  ##Screen = B/w 768px to 1024px
*/

@media (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {
  

  
}

/* 
  ##Device = Low Resolution Tablets, Mobiles (Landscape)
  ##Screen = B/w 481px to 767px
*/

@media (min-width: 481px) and (max-width: 767px) {
  


}

/* 
  ##Device = Most of the Smartphones Mobiles (Portrait)
  ##Screen = B/w 320px to 479px
*/

@media (min-width: 320px) and (max-width: 480px) {
  

  
}



